h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.75rem;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.15px;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    margin: 0;
}

.label__large {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1;
    /* identical to box height, or 143% */

    letter-spacing: 0.1px;
}

.label__medium {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    /* identical to box height, or 133% */
    letter-spacing: 0.5px;
}

.text__center {
    text-align: center;
}

.bold{
    font-weight: bold;
}

.capitalize{
    text-transform: capitalize;
}

.deliverState{
    font-weight: bold;
}

.pending{
    color: orangered;
}

.accepted{
    color: green;
}
